<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> 
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>Xem Phiếu Khám</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="BenhNhanView.html">&#8962;</a>
                <a class="nav-link text-white ms-3" href="BenhNhanView.html">Quay lại</a>
                <div class="mx-auto">
                    <span class="navbar-text text-white fw-bold">Xem Phiếu Khám</span>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-4 text-center">
                <div class="square-img-container">
                    <img src="{{ url_for('static', filename='images/download.png') }}" alt="Ảnh bệnh nhân" class="img-fluid rounded square-img" style="width: 30%;">
                </div>
            </div>
            <div class="col-md-4">
                <p><strong>Tên:</strong> Nguyễn Văn A</p>
                <p><strong>Ngày sinh:</strong> 01/01/1990</p>
                <p><strong>Số căn cước:</strong> 123456789</p>
            </div>
            <div class="col-md-4">
                <p><strong>Quê quán:</strong> Hà Nội</p>
                <p><strong>Số điện thoại:</strong> 0123456789</p>
            </div>
        </div>


        <div class="border p-4">
            <h4 class="text-center text-danger">Phiếu Khám Chi Tiết</h4>
            <p><strong>Triệu chứng:</strong> Đau đầu, chóng mặt, buồn nôn</p>
            <h5 class="text-danger">Thông số xét nghiệm</h5>
            <ul>
                <li><strong>Huyết áp:</strong> 120/80 mmHg</li>
                <li><strong>Cholesterol:</strong> 5.2 mmol/L</li>
                <li><strong>Nhịp tim:</strong> 75 bpm</li>
            </ul>
            <h5 class="text-danger">Ảnh xét nghiệm</h5>
            "{{ url_for('static', filename='images/download.png') }}"
            <img src="{{ url_for('static', filename='images/0a0bc6879f5d5d14c4df229b64b801_big_gallery.jpeg') }}" style="width: 30%;" alt="Ảnh xét nghiệm" class="img-fluid border">
            <h5 class="text-danger">Kết quả chẩn đoán</h5>
            <p>Bệnh nhân có dấu hiệu tiền đình nhẹ, cần theo dõi thêm.</p>
        </div>
    </main>
</body>
</html>
