<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phòng Khám Đa Khoa PTIT</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> 
  <link rel="stylesheet" href="static/css/style.css">
  <script>
    function toggleLoginOptions() {
      var loginOptions = document.getElementById("login-options");
      loginOptions.style.display = (loginOptions.style.display === "block") ? "none" : "block";
    }
  </script>
</head>
<body>

  <!-- Header / Navigation -->
  <header class="header">
    <nav class="navbar">
      <!-- Logo -->
      <div class="navbar__logo">
        <a href="#"><img src="static/images/home.png" alt="Home" /></a>
      </div>

      <!-- Navigation Links -->
      <ul class="navbar__links">
        <li><a href="#">Xem tin tức</a></li>
        <li><a href="#">Xem giới thiệu</a></li>
      </ul>

      <!-- Login Button -->
      <div class="navbar__user">
        <button onclick="toggleLoginOptions()">Đăng nhập</button>
        <div id="login-options" class="login-dropdown">
          <a href="{{ url_for('benhnhan.dang_nhap') }}">Đăng nhập với tư cách Bệnh nhân</a>
          <a href="{{ url_for('bacsi.dang_nhap') }}">Đăng nhập với tư cách Bác sĩ</a>
        </div>
      </div>
      
    </nav>
  </header>


  <section class="hero">
    <img src="static/images/background-ptit-daotao.jpg" alt="PTIT Clinic Building" class="hero__image" />
    <div class="hero__overlay">
      <h1>Phòng Khám Đa Khoa PTIT</h1>
      <p>Nơi Quy Tụ Các Bác Sĩ <br> Tài Năng - Tâm Huyết - Trách Nhiệm</p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Phòng Khám Đa Khoa PTIT</p>
  </footer>

</body>
</html>
