
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Bác Sĩ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h2>Danh sách Bác Sĩ</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Ngày Sinh</th>
                <th>Chuyên Môn</th>
                <th>Học Vấn</th>
                <th>Kinh Nghiệm</th>
                <th>Hình Ảnh</th>
            </tr>
        </thead>
        <tbody id="bacsi-table-body">
            <!-- Dữ liệu sẽ được thêm vào đây bằng JavaScript -->
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/bacsi.js') }}"></script>
</body>
</html>
